<%- include('partials/header') -%>
<div class="container-fluid bg-image" style="
background-image: url('/imgs/background.jpg');
height: 100vh;
">
  <div class="row justify-content-center my-5">
      <div class="col-6 my-5">
          <div class="container text-center mb-5">
              <h1 class="display-2">Welcome <%= user.userName %>!</h1>
          </div>
        <div class="row justify-content-center my-5">
          <form class="needs-validation" action="/search" method="POST">
            <label for="search" class="form-label">Search Movies!</label>
            <input type="search" class="form-control" id="search" name="search" placeholder="Enter movie name" required>
            <button type="submit" class="btn btn-primary mt-2">Search</button>
          </form>
        </div>  
      </div>  
    </div>
    <div class="container-fluid row justify-content-evenly mt-5">
      <div class="col-2 text-center">
        <i class="fas fa-search fa-5x"></i>        
        <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit itaque id, corporis voluptatem dignissimos facere temporibus molestiae quod explicabo dolor laudantium nulla aut atque voluptatum expedita dicta! Molestias, natus totam.</p>
      </div>
      <div class="col-2 text-center">
        <i class="fas fa-list fa-5x"></i>
        <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit itaque id, corporis voluptatem dignissimos facere temporibus molestiae quod explicabo dolor laudantium nulla aut atque voluptatum expedita dicta! Molestias, natus totam.</p>
      </div>
      <div class="col-2 text-center">
        <i class="fas fa-book fa-5x"></i>
        <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit itaque id, corporis voluptatem dignissimos facere temporibus molestiae quod explicabo dolor laudantium nulla aut atque voluptatum expedita dicta! Molestias, natus totam.</p>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>